


.lg {
  position: absolute;
  top: 20px;
  left: 80%;          /* adjust as needed */
  transform: translateX(-90%);
}

.logos {
  position: absolute;
  top: 26px;
  left: 89%;          /* thoda right of .lg */
  transform: translateX(-50%);
  display: flex;
  gap: 1px;           /* logos ke beech gap */
}





#header-bg{
  height: 82px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding: 3px 10px;
}
.stays{
  top: -4px;
}

/* Tablet screen */
@media (max-width: 24px) {
  #header-bg {
    padding: 3px 10px;
  }
}

/* Mobile screen */
@media (max-width: 28px) {
  #header-bg {
    padding: 10px 10px;
  }
}






/* menu*/


#home{
  height: 213px;
  display: flex;
  flex-direction: column;
  padding: 4px 5%; 
  box-sizing: border-box; 
}

/* Tablet screen */
@media (max-width: 1524px) {
  #home {
    padding: 12px 200px;
  }
}

/* Mobile screen */
@media (max-width: 888px) {
  #home {
    padding: 19px 60px;
  }
}


/* menu */
.menu {
  list-style: none;
  padding: 19px 0; /* add vertical padding to push down */
  margin: 0;
  overflow: hidden;
}

.menu .item a {
  display: flex;
  gap: 18px;
  overflow: hidden;
  white-space: nowrap;
  align-items: center; /* vertically center logos if any are taller */
}


.menu-logo {
  height: 10px;      /* default size */
  width: auto;
  flex: 0 0 auto;    /* keep logo width fixed */
  transition: height 0.3s ease; /* smooth resizing */
}

/* MEDIA QUERIES - shrink logos on smaller screens */
@media (max-width: 900px) {
  .menu-logo {
    height: 16px;
  }
}

@media (max-width: 600px) {
  .menu-logo {
    height: 16px;
  }
}

@media (max-width: 400px) {
  .menu-logo {
    height: 15px;
  }
}



/* Container styling */

#fog {
  width: 110%;
  padding: 12px;
  box-sizing: border-box;

}

.text-wrapper {
  display: flex;
  flex-wrap: nowrap; /* hamesha ek row */
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}
/* Media query for mobile / small screens */
@media (max-width: 480px) {
  #fog {
    padding: 15px 10px; /* aur kam padding */
  }
}




 















